################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/.vs/blazor-homepage/v17/
/src/obj/
/tests/TestProject/obj/
