@page "/"

<PageTitle>Home</PageTitle>


<div class="row">
    <div class="col-sm-auto">
        <h5 class="display-4">Bienvenue / Welcome</h5>
    </div>
</div>
<div class="row">

    <div class="col-sm-auto">
        <p class="mt-5">
            Je me présente: Kirt No&#235;l.
        </p>
        <p>Depuis juillet 2019, je travaille comme développeur d'applications chez Bell Canada.</p>
        <p>Auparavant, j'ai intégré des systèmes de santé vitaux avec HL7 v2 pendant 12 ans.</p>
        <p class="mt-5">
            I&apos;m Kirt No&#235;l.
        </p>
        <p>Since July 2019, I have worked as a .NET developer for Bell Canada.</p>
        <p>For 12 years prior, I integrated mission critical healthcare systems with HL7 v2. </p>
        <p class="mt-5">
            Contact me through
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiVlu-X1dTxAhWbElkFHWihDloQFjAAegQIAhAD&url=https%3A%2F%2Fca.linkedin.com%2Fin%2Fkirt-noel-775a8a26&usg=AOvVaw1VeJjsorogaceJ2qRH5gjL"
                target="_blank">LinkedIn</a>
        </p>
    </div>
    <div class="col-10">
    </div>
</div>


