@using System.Globalization
@rendermode InteractiveServer
@inject NavigationManager _navigationManager;
@inject Language _language;
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Kirt Noël</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="workexperience">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Work Experience
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="technicalskills">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Technical Skills
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <button 
                    class="btn btn-outline-primary"
                    @onclick="@UpdateLanguage">
                    @_buttonContent
            </button>
        </div>
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="@UpdateLanguage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Language
            </NavLink>
        </div> *@
    </nav>
</div>

@code 
{
    private string _buttonContent;

    protected override void OnInitialized()
    {
        switch (_language.Current)
        {
            case Constants.English:
                _buttonContent = Constants.French;
                break;
            case Constants.French:
                _buttonContent = Constants.English;
                break;
        }
    }

    private void UpdateLanguage()
    {
        _language.SwitchLanguage();
        _navigationManager.NavigateTo(_navigationManager.Uri, true);
    }
}
